-- Añadir campos de geofencing al perfil del Capitán
ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS radio_trabajo DOUBLE PRECISION DEFAULT 50.0,
ADD COLUMN IF NOT EXISTS puerto_base_lat DOUBLE PRECISION,
ADD COLUMN IF NOT EXISTS puerto_base_lon DOUBLE PRECISION;
